

/* header */
.header-wraper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1376px;
    width: 95%;
    margin: 0 auto;
}
.header-main{
    padding: 34.5px 0;
}
.nav-ul{
    display: flex;
    width: 328px;
    justify-content: space-between;
}
.burger-bar{
    display: none;
}
.action{
    width: 100px;
    height: 48px;
    border-radius: 32px;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 12px;
}
@media(max-width:375px){
    .navigation{
        display: none;
    }
    .action{
        display: none;
    }
    .burger-bar{
        display: inline;
    }
}

/* section 1 */
.wraper{
    max-width: 1110px;
    width: 90%;
    margin: 0 auto;
}
.wraper-flex{
    display: flex;
    column-gap: 130px;
}
.left-wraper{
    width: 490px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.right-wraper{
    width: 490px;
}
.action-2{
    width: 100px;
    height: 42px;
    border-radius: 32px;
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.small-wraper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.right-wraper img{
    width: 100%;
}
.left-wraper h2{
    font-size: 56px;
    font-weight: 900;
    margin-bottom: 29px;
}
.left-wraper p{
    font-size: 18px;
    font-weight: 400;
}
.small-wraper p{
    width: 236px;
    margin-left: 16px;
    font-weight: 600;
    font-size: 14px;
}
@media(max-width:1024px){
    .wraper-flex{
        flex-direction: column;
    }
    .left-wraper{
        width: 100%;
        text-align: center;
        margin-bottom: 68px;
    }
    .right-wraper{
        width: 100%;
    }
    
}
@media(max-width:744px){
    .small-wraper{
        flex-direction: column;
    }
    .small-wraper p{
        margin-top: 16px;
    }
}


/* section2 */
.section2-bg{
    background-color: rgba(243, 243, 243, 1);
    padding: 64px 0;
}
.flex{
    display: flex;
    column-gap: 30px;
}
.element{
    width: 360px;
}
.radius{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: black;
}
.small-element{
    display: flex;
    align-items: center;
    padding-bottom: 18px;
}
.small-element h3{
    font-size: 16px;
    font-weight: 700;
}
.element p{
    font-weight: 400;
    font-size: 16px;
}

@media(max-width:744px){
    .flex{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .element{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
    }
}












/* section 3 */

.conteiner{
    max-width: 1140px;
    width: 90%;
    margin: 0 auto;
}
.section-bg{
    background-color: black;
    padding: 96px 0;
}
.conteiner-flex{
    display: flex;
    column-gap: 133px;
    align-items: center;
}
.right-block{
    color: white;
    width: 503.5px;
    
}
.left-block{
    width: 503.5px;
}
.left-block img{
    width: 100%;
}
.right-txt{
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 16px;
}
.titles :first-child{
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 400;
}
.titles :nth-child(2){
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 400;
}
.titles :nth-child(3){
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 400;
}
.titles :nth-child(4){
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 400;
}
.titles :nth-child(5){
    font-size: 16px;
    font-weight: 400;
}
        /* responsive */
@media (max-width:1024px){
    .conteiner-flex{
        flex-direction: column;
    }
    .left-block{
        width: 100%;
        padding-bottom: 16px;
    }
    .right-block{
        width: 100%;
        display: flex;
        column-gap: 129px;
    }
    .right-txt{
        width: 415.5px;
    }
    .titles{
        width: 415.5px;
    }
}
@media(max-width:744px){
    .right-block{
        flex-direction: column;
    }
    .right-txt,
    .titles{
        width: 100%;
        text-align: center;
    }
}
/* section 4 */
.section4-bg{
    background: url(../img/CTAImg-Wide-1440px+-New.jpg);
    padding: 192px 0;
    width: 100%;
}
.section4-info{
    width: 540px;
    margin: 0 auto;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.section4-info h5{
    color: white;
    font-size: 16px;
    font-weight: 600;
}
.section4-info p{
    font-size: 40px;
    font-weight: 900;
    color: white;
    margin: 10px 0;
}
.act4{
    background-color: white;
    color: black;
    font-weight: 700;
}
@media(max-width:744px){
    .section4-info{
        width: 100%;
    }
}

/* footer */
.footer-bg{
    background-color: black;
    padding: 96px 0;
}
.footer-main{
    max-width: 1140px;
    width: 90%;
    margin: 0 auto;
    display: flex;
}
.footer-info h6{
    color: white;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 16px;
}
.footer-ul{
    color: white;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    font-weight: 400;
    font-size: 14px;
}
.footer-info{
    width: 228px;
}
.footer-info p{
    color: rgba(255, 255, 255, 1);

}
@media(max-width:1024px){
    .last-div{
        display: none;
    }
}
